@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<footer class="footer py-5 text-light" style="background-color:#0c518e">
    <div class="container pt-1 pt-sm-2 pt-md-3 pt-lg-4 pt-xl-5">
        <div class="row gx-5">
            <div class="pb-4 col-md-3">
                <a class="navbar-brand d-inline-flex text-nav py-0 mb-3 mb-md-4" href="#">
                    <span class="text-white boder-bottom-green">About Us</span>
                </a>
                <p>
                    The unit was promoted in 2021 by professionals with proven track record in the industry and supported by dedicated and skilled work force. Elnur offers its range of products from its own design center as well as customer’s design.
                </p>
            </div>
            <div class="pb-4 col-md-2">
                <a class="navbar-brand d-inline-flex text-nav py-0 mb-3 mb-md-4" href="#">
                    <span class="text-white boder-bottom-green">Quick Links</span>
                </a>
                <ul class="nav flex-md-column flex-row justify-content-center justify-content-md-start py-1 pb-sm-2">
                    <li><a class="text-white py-2 px-3 ps-md-0 text-decoration-none" href="/">Home</a></li>
                    <li><a class="text-white py-2 px-3 ps-md-0 text-decoration-none" href="/AboutUs">About</a></li>
                    <li><a class="text-white py-2 px-3 ps-md-0 text-decoration-none" href="/Products">Products</a></li>
                    <li><a class="text-white py-2 px-3 ps-md-0 text-decoration-none" href="#">ContactUs</a></li>
                </ul>
            </div>
            <div class="pb-4 col-md-3">
                <a class="navbar-brand d-inline-flex text-nav py-0 mb-3 mb-md-4" href="#">
                    <span class="text-white boder-bottom-green">Contact Info</span>
                </a>
                <ul class="nav flex-md-column flex-row justify-content-center justify-content-md-start py-1 pb-sm-2">
                    <li>Plot No 28B Subash Chandra Nagar Kushaiguda</li>
                    <li>ECIL Post Hyderabad, Telangana 500062</li>
                    <li>info@elnursolutions.com</li>
                    <li>+91 81210 21068</li>
                </ul>
            </div>
            <div class="text-center p-2 col-md-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15222.018376373928!2d78.571536!3d17.48341!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9db9ad845997%3A0x1fb3461ca7313b42!2sElnur%20Solutions%20LLP!5e0!3m2!1sen!2sin!4v1742047968287!5m2!1sen!2sin"
                        class="w-100"
                        height="250"
                        allowfullscreen="allowfullscreen"
                        loading="lazy"
                        title="Maps">
                </iframe>
            </div>
            </div>
        <p class="text-center mt-4 m-0">
            <span class="text-body-secondary">© All rights reserved. Made by</span>
            <a class="nav-link d-inline fw-normal p-0 ms-1" href="/" target="_blank" rel="noopener">Elnur Solutions</a>
        </p>
    </div>
</footer>

@* <ul class="nav flex-md-column flex-row justify-content-center justify-content-md-start py-1 pb-sm-2">
    <li class="nav-item"><a class="nav-link py-2 px-3 ps-md-0" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link py-2 px-3 ps-md-0" href="/AboutUs">About</a></li>
    <li class="nav-item"><a class="nav-link py-2 px-3 ps-md-0" href="/Products">Products</a></li>
    <li class="nav-item"><a class="nav-link py-2 px-3 ps-md-0" href="#">ContactUs</a></li>
</ul> *@