<header class="w-100 px-4 border-bottom position-sticky fixed-top bg-white">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="\Images\ElnurLogo.jpg" alt="Elnur-Logo" class="img-fluid" id="elnurLogo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 d-flex align-items-center justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link theme-blue" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link theme-blue" href="#">Enterprise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link theme-blue" href="#">Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link theme-blue" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link theme-blue" href="#">Cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>