<header class="w-100 px-md-5 px-2 sticky-top" id="mainNavbar">
    <nav class="navbar navbar-expand-sm navbar-light px-md-5">
        <div class="container-fluid px-md-2">
            <a class="navbar-brand skiptranslate" asp-area="" tabindex="-1" asp-controller="Home" asp-action="Index">
                <img src="~/Images/ElnurLogo.png" alt="Elnur-Logo" class="img-fluid" id="elnurLogo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 d-flex align-items-center justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link theme-blue fw-bold" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown" id="productsDropdown">
                        <a class="nav-link theme-blue fw-bold dropdown-toggle" id="productsDropdownLink" role="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu p-0 m-0 bg-light-theme" id="ulproductsDropdown" aria-labelledby="productsDropdownLink">
                            
                        </ul>
                    </li>
                    <li class="nav-item dropdown" id="aboutDropdown">
                        <a class="nav-link theme-blue fw-bold dropdown-toggle" href="#" id="aboutDropdownLink" role="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                            About
                        </a>
                        <ul class="dropdown-menu p-0 m-0 bg-light-theme" aria-labelledby="aboutDropdownLink">
                            <li><a class="dropdown-item" asp-controller="AboutUs" asp-action="ElnurSolutions">Elnur Solutions</a></li>
                            <li><a class="dropdown-item" asp-controller="Team" asp-action="Index">Our Team</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link theme-blue fw-bold" asp-controller="Contact" asp-action="Index">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link theme-blue fw-bold" target="_blank" href="https://drive.google.com/file/d/1_wDu_wdCv77GbNvOOuIH2hqipaF9paUn/view?usp=drivesdk">Broucher<i class="fa-solid fa-download ms-2"></i></a>
                    </li>

                    <li class="nav-item">
                        <div id="google_translate_element"></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en',
            autoDisplay: true,
            includedLanguages: 'en,hi,bn,ar,ja,iw,te,zh-CN',
            layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
        }, 'google_translate_element');
    }
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" defer></script>
