@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UserDto

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow rounded-3">
                <div class="card-body">
                    <h2 class="card-title theme-blue text-center mb-4">Admin Login</h2>
                    <form asp-action="Login" method="post">
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Username</label>
                            <input asp-for="Username" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input asp-for="Password" type="password" class="form-control" required />
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn bg-blue">Login</button>
                        </div>
                        @* <div class="d-flex align-items-center my-4">
                            <hr class="flex-grow-1">
                            <span class="mx-3 text-muted">OR</span>
                            <hr class="flex-grow-1">
                        </div>
                        <div class="d-grid">
                            <a type="button" asp-action="Register" class="btn bg-green">Register</a>
                        </div> *@
                    </form>

                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-info mt-3" role="alert">
                            @TempData["Message"]
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
