<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\ElnurSolutions.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
					<environmentVariable name="DB_CONNECTION_STRING" value="Data Source=SQL6032.site4now.net;Initial Catalog=db_ab8e82_elunrsolutions;User Id=db_ab8e82_elunrsolutions_admin;Password=vrbabu1@; Encrypt=True; TrustServerCertificate=True; MultipleActiveResultSets=True;" />
					<!-- Add more variables as needed -->
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 843d165b-4809-424c-a58f-155bb21988d2-->