@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ElnurSolutions.Models.TeamCategory

@{
    ViewData["Title"] = "Edit Team Category";
}

<div class="container py-3">
    <div class="card shadow-sm">
        <div class="card-header bg-light theme-blue text-center">
            <h3>Edit Team Category</h3>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group py-3">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a href="/Account" class="btn btn-secondary ml-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
