@model ElnurSolutions.Models.TeamMember

<link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="/richtexteditor/rte.js"></script>
<script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>

<style>
    .rte-modern.rte-desktop.rte-toolbar-default {
        min-width: 0px !important;
        min-height: 400px !important;
    }
</style>

@{
    ViewData["Title"] = "Create Team Member";
}

<div class="container text-center py-3 bg-light shadow-lg my-5">
    <partial name="_AccountHeader" />
    <h1>Create Team Member</h1>
    <div class="row justify-content-center">
        <form asp-controller="Team" class="row" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" required />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Select Team Category</label>
                    <select asp-for="TeamCategoryId" class="form-control" asp-items="ViewBag.TeamCategoryId">
                        <option value="">-- Select Category --</option>
                    </select>
                    <span asp-validation-for="TeamCategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Upload Image</label>
                    <input type="file" id="imageFile" name="imageFile" class="form-control" />
                    <div id="preview">
                        @if (Model != null && Model.ImageGuid != null)
                        {
                            <img src="@Model.ImageGuid" class="img-thumbnail" width="200" />
                        }
                    </div>
                    <input asp-for="ImageGuid" type="hidden" id="TeamMemberImageGuid" />
                </div>
            </div>

            <div class="form-group py-3">
                <input type="submit" value="Create" class="btn bg-blue float-end" />
                <a asp-controller="Account" asp-action="Index" class="float-end btn bg-green me-2">Back to Team List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $(document).ready(function () {
            $('#imageFile').on("change", function () {
                var fileInput = $('#imageFile')[0];
                if (fileInput.files.length === 0) {
                    alert('Please choose a file.');
                    return;
                }

                var formData = new FormData();
                formData.append('file', fileInput.files[0]);
                $.ajax({
                    url: '/Account/Upload',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (data) {
                        $('#TeamMemberImageGuid').val(data.entity);
                        $('#preview').html(`<img src="${data.entity}" class="img-thumbnail" width="200"/>`);
                    },
                    error: function (err) {
                        alert('Upload failed');
                        console.log(err);
                    }
                });
            });
        });
    </script>
}

<script>
    var editorcfg = {
        width: "100%",
        toolbar: "basic"
    };
    var editor1 = new RichTextEditor("#div_editor1", editorcfg);

    document.querySelector("form").addEventListener("submit", function () {
        document.getElementById("BiographyRichTextArea").value = editor1.getHTMLCode();
    });
</script>
