@{
    ViewData["Title"] = "Home";
    ViewBag.MetaDescription = "Elnur Solutions - Home";
}
<div id="homePage">
    @* <div class="container text-center py-3 d-flex flex-column h-100">
        <h1 class="pt-5 mt-auto abril-fatface text-white" style="text-shadow: 2px 3px 2px black;">
            Leading the Way in Bright and Efficient Lighting
        </h1>
        <p class="lead">
            Efficiency and Brilliance Combined: Pioneering smart lighting solutions for a brighter, more sustainable future.
        </p>
        <p class="lead mb-auto">
            <a href="#" class="btn btn-lg btn-light fw-bold bg-green text-white" style="z-index:10">Learn more</a>
        </p>
    </div>
 *@
    <div id="myCarousel" class="carousel slide h-100" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" class="active" aria-label="Slide 2" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner h-100">
            <div class="carousel-item h-100">
                @* <video class="d-block w-100 h-100 object-fit-cover" autoplay loop muted src="~/Images/CeilingLights.mp4" alt="Alternate Text" /> *@
                <img class="d-block h-100 object-fit-cover" src="~/Images/CeilingLights.jpg" alt="Alternate Text" style="filter:brightness(50%)" />
                <div class="container h-100">
                    <div class="carousel-caption theme-white h-100 mt-5 d-flex flex-column justify-content-center align-items-center">
                        <h1 class="mt-5 pt-5">Leading the Way in Bright and Efficient Lighting</h1>
                        <p>Efficiency and Brilliance Combined: Pioneering smart lighting solutions for a brighter, more sustainable future.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-100 active">
                <img class="d-block h-100 object-fit-cover" src="~/Images/tech.jpg" alt="Alternate Text" style="filter:brightness(50%)" />
                <div class="container h-100">
                    <div class="carousel-caption text-white h-100 d-flex flex-column justify-content-center align-items-center">
                        <h1 class="mt-5 pt-5">Leading the Way in Bright and Efficient Lighting</h1>
                        <p>Efficiency and Brilliance Combined: Pioneering smart lighting solutions for a brighter, more sustainable future.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-100">
                <img class="d-block h-100 object-fit-cover" src="~/Images/lighting.jpg" alt="Alternate Text" style="filter:brightness(75%)" />
                <div class="container h-100">
                    <div class="carousel-caption theme-white h-100 d-flex flex-column justify-content-center align-items-center">
                        <h1 class="mt-5 pt-5">One more for good measure.</h1>
                        <p >Some representative placeholder content for the third slide of this carousel.</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
<div class="container text-center pt-1 pb-3">
    <h1 class="pt-5 theme-green fs-2">About Company</h1>
    <p class="lead py-4">
        The unit was promoted in 2021 by professionals with proven track record in the industry and supported by dedicated and skilled work force. Elnur offers its range of products from its own design center as well as customer’s design.
    </p>
    <div class="row g-4 justify-content-evenly">
        <div class="col-md-3 d-flex flex-column align-items-center py-5 bg-img-algin text-white" style="background-image:url('/Images/Advanced equipment.png');">
            <div class="bg-green d-flex justify-content-center align-items-center rounded-circle" style="width: 100px; height: 100px;">
                <i class="fa-solid fa-gear fs-1"></i>
            </div>
            <h5 class="mt-5">Advanced Equipment</h5>
            <p class=" text-white"> Built for durability, efficiency, and peak performance. </p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center py-5 bg-img-algin text-white" style="background-image:url('/Images/Quality.PNG')">
            <div class="bg-green d-flex justify-content-center align-items-center rounded-circle" style="width: 100px; height: 100px;">
                <i class="fa-solid fa-magnifying-glass fs-1"></i>
            </div>
            <h5 class="mt-5">Quality Ensure</h5>
            <p>Unwavering quality and Lasting excellence every step of the way.</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center py-5 bg-img-algin text-white" style="background-image:url('/Images/Performance-1.png')">
            <div class="bg-green d-flex justify-content-center align-items-center rounded-circle" style="width: 100px; height: 100px;">
                <i class="fa-solid fa-chart-simple fs-1"></i>
            </div>
            <h5 class="mt-5">Performance</h5>
            <p>Built to thrive in high-performance environments.</p>
        </div>
    </div>
</div>

<div class="w-100 py-5 bg-light-theme">
    <h3 class="text-center py-2 fw-bold theme-green teko">FIND YOUR WAY</h3>
    <h2 class="text-center py-2 fw-bolder theme-blue pt-serif-bold">#1 Drivers Manufacturing For</h2>
    <div class="container">
        <div id="findYourWay" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 g-lg-4 px-2"></div>
    </div>
    <div class="text-center mt-3">
        <a class="btn btn-outline-success fw-bold" href="/Products">Explore Our Products</a>
    </div>
</div>
@section Scripts {

    <script>
        $("document").ready(function(){
            bindImgsInFindYourWay();
        })
    </script>
}