html {
  font-size: 14px;
}

/* google translate banner */
body > .skiptranslate, .goog-logo-link, .gskiptranslate, .goog-te-gadget span, .goog-te-banner-frame, #goog-gt-tt, .goog-te-balloon-frame, div#goog-gt- {
    display: none !important;
    background-color: rebeccapurple;
}
.goog-te-gadget:not(select) {
    font-size: 0px;
}

.goog-text-highlight {
    background: none !important;
    box-shadow: none !important;
}

#google_translate_element select {
    color: #003A6B;
    border: none ;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px;
    margin-left: 50px;
    width: auto;
}

#google_translate_element select:focus {
     border: none !important;
    outline: none !important;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

#elnurLogo {
    max-height: 70px; /* Maximum height for larger screens */
    min-height: 25px; /* Maximum height for larger screens */
}

.bg-img-algin {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.65)
}

.header {
    height: auto;
    display: flex;
    align-items: center;
}

.theme-blue {
    color: #003A6B !important;
}

.theme-green {
    color: #258f54 !important;
}

.bg-blue {
    color: white !important;
    background-color: #0c518e !important;
}

.bg-blue:hover,.bg-blue:focus {
    color: white !important;
    background-color: #258f54 !important;
    transform: scale(1.03) !important;
    animation:ease-in-out 0.9s;
}

.bg-green {
    color: white !important;
    background-color: #258f54 !important;
}

.bg-green:hover, .bg-green:focus{
    color: white !important;
    background-color: #003A6B !important;
    transform: scale(1.03) !important;
    animation:ease-in-out 0.9s;
}

#homePage {
    height: calc(60vh);
}

.object-fit-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nav-link:hover {
    border-bottom: 4px solid #258f54;
    animation:ease-in-out 1.5s;
    transform: scale(1.01);
    font-weight:bolder; 
}

#mainNavbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}
#mainNavbar.scrolled {
    background-color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
    backdrop-filter:blur(20px);
}


.teko {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}


h1 {
    /*font-family: "Teko", sans-serif;*/
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
    font-size: medium;
}

#mainNavbar.navbar-toggler-collapsed {
    background-color: aliceblue; /* Applies background color to the parent when toggled */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visual appearance */
    transition: background-color 0.3s ease;
}

.carousel img {
    height: 40vh;
    object-fit: cover;
}

.bg-light-theme {
    background-color: aliceblue;
}


.dropdown-menu .dropdown-item:hover {
    color: white !important;
    background-color: #0c518e !important;
    border-bottom: 3px solid #258f54;
}

.navbar-toggler {
    margin-left: auto;
    float: right;
}