@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<div class="container text-center py-5">
    <h1 class="pt-5 theme-green">About Us</h1>
    <p class="lead py-4">
        The unit was promoted in 2021 by professionals with proven track record in the industry and supported by dedicated and skilled work force. Elnur offers its range of products from its own design center as well as customer’s design.
    </p>
    <div class="row py-5">
        <div class="col-md-6">
            <h5 class="theme-blue">Technical Training</h5>
            <img src="~/Images/Presentation.jpg" class="w-100" alt="Technical Training" />
        </div>
        <div class="col-md-6">
            <h5 class ="theme-blue">Conference</h5>
            <img src="~/Images/TeamConference.jpg" class="w-100" alt="Technical Training" />
        </div>
    </div>
</div>