@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Our Team";
}


<div class="w-100 text-center py-3">
    <h1 class="theme-green">Our Team</h1>
    <div class="row g-2 w-100 justify-content-center">
        <div class="card col-md-3 p-2 me-2">
            <img class="card-img-top w-100" src="~/Images/Team/AnandSomwanshi.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    Mr. Anand Somwanshi<br/>
                    Director<br />
                    Elnur Solutions LLP
                </h5>
                <p class="card-text text-start">
                    With a domain expertise and experience of 2 decades, Anand has started this business with
                    sheer passion for differentiation and innovation in existing manufacturing and design
                    concepts of lighting. A tool designer by passion has now 3 registered patented products 
                    and sphere heading a business conglomerate  of more than 240 MN yearly 
                    with a diversified sectors of Lighting, Automotive, Furniture and Electronics.
                </p>
            </div>
        </div>
        <div class="card col-md-3 p-2 me-2">
            <img class="card-img-top w-100" src="~/Images/Team/RavindraBabu.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                Mr. V Ravindra Babu<br />
                Director<br />
                Elnur Solutions LLP
                </h5>
                <p class="card-text text-start">
                    An Power Electronic & Mechanical with total experience of 30 Years of R&D and manufacturing 
                    exclusively in Drivers, Power supplies, Battery chargers, Dot Matrix Printers, PC Power Supplies, 
                    Transformers and Mechanical tool Design & Development.
                </p>
            </div>
        </div>
    </div>
</div>