<style>
    p {
        margin-bottom: 3px !important;
    }
</style>

<div class="card mb-3 shadow-lg">
    <div class="card-body">
        <div class="row py-1 g-3">
            <div class="form-floating col-md-6 px-1">
                <input type="text" class="form-control shadow-sm" id="searchInput" placeholder="Enter search term">
                <label for="searchInput">Search</label>
            </div>
            <div class="form-floating col-md-3 px-1">
                <select class="form-select shadow-sm" id="categorySelect" aria-label="Category"></select>
                <label for="categorySelect">Category</label>
            </div>
            <div class="d-flex align-items-center justify-content-center col-md-3">
                <a id="btnSearchProducts" class="btn bg-green">Apply Filters</a>
                <a id="btnReset" class="btn bg-blue ms-2">Reset</a>
            </div>
        </div>
    </div>
</div>
<div class="container px-0 py-2">
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-3 g-lg-4" id="productsContainer"></div>
</div>
<div id="productsContainer"></div>
<div id="paginationContainer" class="mt-4"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title theme-blue productName"></h5>
        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-circle-xmark"></i>
        </button>
      </div>
      <div class="modal-body px-3">
        <div class="row p-2 m-2">
          <div class="col-md-5">
              <div class="w-100">
                   <img src="~/Images/Products/DownLightSeriesIndoor.png" id="imgProduct" class="w-100 p-2 shadow rounded" alt=""/>
              </div>
          </div>
          <div class="col-md-7">
              <div class="text-start">
                <h5 class="modal-title theme-blue productName"></h5>
                <p id="description" class="text-start"></p>
                <h1 class="theme-blue fw-bold boder-bottom-green my-sm-2">Category</h1>
                <br/>
                <span id="productCatergoryName" for="productCatergoryDescription" class="text-start fw-bold"></span>
                <span id="productCatergoryDescription" class="text-start"></span>
              </div>
          </div>
          <div class="col-12 mt-4">
            <div class="p-3 shadow rounded">
                <h1 class="theme-blue fw-bolder">Key Features</h1>
                <hr/>
                <div id="richTextKeyFeatures" class="w-100 text-start overflow-hidden"></div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="p-3 shadow rounded">
                <h1 class="theme-blue fw-bolder">Technical Specifications</h1>
                <hr/>
                <div id="richTextDescription" class="w-100 text-start overflow-hidden"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-light">
        <a id="btnDownloadProductFile" class="btn btn-sm bg-blue"><i class="fa-regular fa-file-lines me-2"></i>Download</a>
        <a id="btnContactUs" class="btn btn-sm bg-green"><i class="fa-solid fa-comment"></i> Contact Us </a>
      </div>
    </div>
  </div>
</div>